/*
    Personnalisation du CSS pour Beedule
*/

/*
.copy-to-clipboard {
  display: none;
}
.btn {
  margin-bottom: 3px !important;
}
pre {
  border: dotted darkgrey 1px;
  box-shadow: 0 10px 30px rgb(200 200 200 / 67%);
}

pre code {
  font-size: 14px;
  color: initial;
}
#body img {
  border: solid darkgrey 1px;
  display: initial;
  margin: 0;
  box-shadow: 0 10px 30px rgb(200 200 200 / 67%);
}
*/